

   .content {
      margin: 0 auto;
      text-align: center;
      font-family: 'Nunito', sans-serif;

      h1 {
         margin-top: 75px;
         font-family: 'Roboto', sans-serif;;
         font-style: normal;
         font-weight: 500;
         font-size: 18px;
         text-align: left;
      }
      p{
         font-family: Roboto;
         font-style: normal;
         font-weight: normal;
         font-size: 16px;
         line-height: 19px;
         text-align: left;
      }

      &.hide{
         display: none!important;
      }
      &.show{
         display: flex;
      }
      &.quiz {
         flex-direction: column;
      }
      &.perspective {
         flex-direction: row; 
      }

      .questions-list{
         display: block;
         list-style-type: none;
         max-width: 740px;
         margin: 0 auto;
         padding: 0;

         li {
            padding: 24px 16px;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;

            .text {
               display: block;
               margin: 0 auto;
               max-width: 570px;
               padding: 4px 0px 16px;
               font-family: 'Nunito', sans-serif;
               font-style: normal;
               font-weight: bold;
               font-size: 18px;
               line-height: 25px;
               text-align: center;
            }
         }
         li:first-child{
            border-top: 1px solid #ccc;
         }
        
      }
      form#perspective-quiz {
         margin-top: 50px;

         label {
            display: block;
            width: 100%;
            text-align: center;
            font-family: 'Nunito', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
         }
         input[type="email"]{
            width: 570px;
            background: #FFFFFF;
            border: 2px solid #AAAAAA;
            box-sizing: border-box;
            border-radius: 4px;
            padding: 4px;
         }
         button.btn-submit {
            display: block;
            margin: 60px auto;
            background: #3D59FA;
            color: #FFF;
         }
      }

      

   }

   .options {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: center;
      align-items: center;
      max-width: 550px;
      margin: 0 auto;

      span.disagree {
         color: #FA4344;
      }

      span.agree {
         color: #00A079;
      }
      
   }

   .perspective {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 50px;
      padding: 50px 10px;
      border: 1px solid #ccc;

      h2 {
         margin-top: 20px;
      }

      p{
         font-family: 'Roboto', sans-serif; 
         font-style: normal;
         font-weight: 500;
         font-size: 16px;
         text-align: center;
      }
   }
   .side {
      width: 50%;
   }
   .results {
      display: block;
      list-style-type: none;
      font-family: 'Roboto', sans-serif; 

      span {
         min-width: 110px;
         text-align: left;
         color: #878787;
      }

      li {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         margin: 2px 0;
         font-family: 'Roboto', sans-serif;
         
      }
      li span:last-child{
         padding-left: 6px;
      }

      .bar-wrap {
         width: 100%;
         background: #E9ECEF;
         text-align: left;
      }
      .bar {
         display: inline-block;
         color: #FFF;
         background: #A920CB;
         text-align: center;
      }
   }


